@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
body {
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 18px;
    font-weight: 400;
    color: #000;
    overflow-x: hidden;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
li {
    list-style-type: none;
}
.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    border: none;
}
.button--green{
    width: 244px;
    height: 54px;
    background-color: #68b738;
    text-transform: uppercase;
    color: #fff;
}
.h1{
    font-family: 'Oswald',sans-serif;
    font-size: 60px;
    line-height: 62px;
    color: #000;
}