.catalog{
}
.catalog__h1{
    margin-top: 74px;
    font-family: 'Oswald',sans-serif;
    font-size: 60px;
    line-height: 62px;
    color: #000;
}
.catalog__list{
    width: 245px;
    height: 431px;
    background-color: #f2f2f2;
 }
.catalog__h2--box{
    position: relative;
    display: inline-block;
    z-index: 5;
    background-color: #fff;
    margin-bottom: 106px;
    margin-top: -60px;
    padding-right: 35px;
    padding-left: 40px;
    margin-left: -40px;
}
.catalog__h2--text{
    font-family: 'Oswald',sans-serif;
    font-size: 36px;
    line-height: 38px;
    color: #000;
    background-color: #fff;
}
.catalog__h2--border{
    position: absolute;
    z-index: 3;
    content: "";
    background-color: #68b738;
    height: 2px;
    width: 200000px;
    margin-left: -50%;
}