.label{
    display: flex;
    align-items: center;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #444;
}
.label__required{

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.label:not(:first-child){
    margin-top: 42px;
}
.label--stroke{
    margin-top: 42px;
}
.label__input{
    margin-left: 33px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 19px;
    border: 1px solid #e7e7e7;
}
.label__input:first-child{
    margin-right: 78px;
}
.label--incorrect{
    border: 2px solid #ff8282;
}
.label__input:hover{
    border: 1px solid #cdcdcd;
}
.label__input:focus{
    border: 1px solid #444;

}
.glhf{
    fill: #68b738;
    currentColor: #68b738;
    stroke: #68b738;
}
.label__icon{
    position: relative;
    margin-left: -34px;
}
.label__icon--focus{
    stroke: #68b738;
}
.label__icon--incorrect{
    stroke: #ff8282;
}
.label__textarea{
    margin-top: 76px;
    width: 1220px;
    height: 174px;
    resize: none;
    border: 1px solid #e7e7e7;
}
.label__radio{
    margin-right: 20px;
    content: "";
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.label__radio:after{
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: -12px;
    margin-left: -12px;
    width: 40px;
    height: 40px;
    content: "";
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #fff;
}
.label__radio:checked:before{
    position: absolute;
    z-index: 2;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #68b738;
    background-color: #68b738;
    border-radius: 50%;
}
.label__radio:hover:after{
    border: 1px solid #bababa;
}
.label__radio:focus{
    opacity: .3;
}
.label__checkbox{
    width: 38px;
    height: 38px;
    margin-right: 19px;
    cursor: pointer;
    color: #68b738;
}
.label__checkbox:focus{
    opacity: .3;
}
.label__checkbox:after{
    position: absolute;
    z-index: 1;
    padding: 5px;
    content: "";
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
}
.label__checkbox:after:hover{
    border: 1px solid #bababa;
}
.label__checkbox:checked:before{
    position: absolute;
    z-index: 3;
    content: "";
    margin-left: 11px;
    width: 19px;
    height: 15px;
    background-image: url("../../image/icon/mark-green.svg");
    background-repeat: no-repeat;
}
.label__input--contact{
    max-width: 467px;
    padding-left: 19px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #cdcdcd;
}
.label__input--contact:focus{
    border: 2px solid #444;
}
.label--contact{
    justify-content: space-between;
}