.demonstration{

}
.demonstration__hidden{
    position: absolute;
    height: 500px;
    width: 13260px;
    background-color: #f2f2f2;
    z-index: -1;
    margin-left: -50%;
}
.demonstration--header{
    font-family: 'Oswald',sans-serif;
    font-size: 60px;
    line-height: 62px;
    color: #000;
    margin-top: 69px;
}
.demonstration__live{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.live__left{
}
.left{
}
.left__text{
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444;
}
.left__cost-up{
    margin-top: 69px;
}
.cost-up{
    display: flex;
}
.cost-up__part{
    width: 162px;
    height: 72px;
    border: 1px solid #cdcdcd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cost-up__part:not(:first-child){
    margin-left: 42px;
}
.cost-up__part--text1{
    position: relative;
    font-family: 'Oswald',sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 37px;
    color: #000;
}
.cost-up__part--text2{
    position: absolute;
    width: 130px;
    background-color: #f2f2f2;
    margin-top: 35px;
    font-family: 'Arial',sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #444;
    text-align: center;
}
.cost-down{
    display: flex;
    margin-top: 60px;
}
.cost-down--text{
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000;
    margin-right: 75px;
}
.right{
    margin-top: -180px;
}
.right-control{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -100px;
}
.right--image{
    position: relative;
    margin-left: -80px;
}
.right--slider{
    -webkit-appearance: none;
    border-radius: 5px;
    outline: none;
    height: 6px;
    width: 428px;
    background-color: #dcdcdc;
}
.right--slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 13px solid #fff;
    background-color: #68b738;
    cursor: pointer;
}
.right--slider::-webkit-slider-thumb:hover{
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
}

.right-slider::-webkit-slider-thumb:focus{
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
}
.right-control--text{
    padding-bottom: 2px;
    margin-right: 4px;
    margin-left: 4px;
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    border-bottom: 1px dashed rgba(0,0,0,0.24);
}
.right-control--text:hover{
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.right-control--text:focus{
    border:none;
}