.list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 165px;
}
.list span:nth-child(4n+1){
    margin-left: -20px;
}
.list__card{
    width: 245px;
    height: 431px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 143px;
}
.card{
    width: 169px;
    height: 229px;
    display: block;
    justify-content: center;
    align-items: center;
}
.card__text{
    position: absolute;
    align-items: end;
    margin-top: 42px;
}
.card--image-small{
    position: absolute;
    margin-top: -155px;
    margin-bottom: 42px;
}
.card--image-big{
    position: absolute;
    margin-top: -185px;
    margin-bottom: 42px;
}
.card--text-head{
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
}
.card__list--part{
    width: 169px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    text-align: center;
}
.card__list--part::after{
    position: absolute;
    content: "";
    width: inherit;
    height: 1px;
    margin-top: 17px;
    background-color: #cdcdcd;
}
.card__link{
    margin-top: 42px;
    width: 168px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68b738;
}
.card__link--text{
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.card__link--text:focus{
    opacity: 0.3;
}
.list__card:not(:first-child){
    margin-left: 80px;
}
.list__card--end {
    width: 241px;
    height: 427px;
    border: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__end{
    width: 167px;
    height: 339px;
}
.list__card--end:not(:first-child){
    margin-left: 80px;
}
.card__end-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 49px;
}
.card--end-text1{
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
}
.card--end-text2{
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    margin-bottom: 87px;
    text-align: center;
}
.card--end-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 40px;
    background-color: #f2f2f2;
    margin-top: 102px;
}
.card--end-text3{
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    text-align: center;
}
.card--end-text3:focus{
    opacity: 0.3;
}