.extra-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 114px;
}
.extra-content__left-part{
}
.left-part__list{
}
.left-part__list--element{
    width: 895px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
}
.left-part__list--element:first-child{
    border-top: 1px solid #cdcdcd;
}
.left-part__list--element-part{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.element-1{
    margin-left: 1px;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #222;
    text-transform: uppercase;
}
.element-2{
    position: absolute;
    margin-left: 325px;
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444;
}
.element-3{
    position: absolute;
    margin-left:569px ;
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444;

}
.element-4{
    position: absolute;
    margin-left: 651px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 40px;
    background-color: #68b738;
}
.element-4--text{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.extra-content__right-part{
    min-width: 245px;
    min-height: 289px;
    background-image: url("../../../image/catalog/background-image-part2.png");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right-part--text{
    color: #fff;
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.right-part--img{
    justify-content: center;
}
.right-part--link{
    text-decoration: none;
}




